:root {
  text-align: center;
  background-color: rgba(238, 210, 244, 0.683);
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}
li {
  list-style: none;
}
body {
  margin-top: 0;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 1rem;
}
input {
  margin: 0.5rem;
}
.homepage img {
  border-radius: 50%;
  height: 5rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0.5rem;
}
.linked-pages img {
  border-radius: 50%;
  height: 4rem;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}

h1 {
  letter-spacing: 0.2rem;
  font-size: 1.5rem;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 100;
}

h2 {
  color: rgb(223, 136, 243);
  font-family: "Codystar", cursive;
  display: block;
  margin-top: -0.7rem;
  text-align: center;
  letter-spacing: 0.2rem;
  font-size: 1.2rem;
}
img {
  height: 5rem;
  width: auto;
}

.homepage {
  background: rgb(241, 241, 241);
  margin-top: 0.8rem;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 0;
  padding: 0.5rem;
  border-radius: 2rem;
}
.linked-pages {
  background: rgb(241, 241, 241);
  margin: 1.8rem;
  padding: 0.5rem;
  border-radius: 2rem;
}
.link-1 img:hover {
  box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
}

.link-2 img:hover {
  box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
}
.link-3 img:hover {
  box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
}
.link-4 img:hover {
  box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
}

@media (min-width: 48rem) {
  .homepage img {
    border-radius: 50%;
    height: 15rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }
  .linked-pages img {
    border-radius: 50%;
    height: 14rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  h1 {
    letter-spacing: 1.2rem;
    font-size: 2.5rem;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 100;
  }

  h2 {
    color: rgb(223, 136, 243);
    font-family: "Codystar", cursive;
    display: block;
    margin-top: -2rem;
    text-align: center;
    letter-spacing: 1.2rem;
    font-size: 3rem;
  }
  img {
    height: 15rem;
    width: auto;
  }

  .homepage {
    background: rgb(241, 241, 241);
    margin-top: 3.8rem;
    margin-left: 3.5rem;
    margin-right: 3.5rem;
    margin-bottom: 0;
    padding: 1rem;
    border-radius: 2rem;
  }
  .linked-pages {
    background: rgb(241, 241, 241);
    margin: 3.8rem;
    padding: 1rem;
    border-radius: 2rem;
    display: grid;
    column-gap: 0.5rem;
  }
  .link-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1.2rem;
  }
  .link-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 1.2rem;
  }
  .link-3 {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1.2rem;
  }
  .link-4 {
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 1.2rem;
  }
  .link-1 img:hover {
    box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
  }

  .link-2 img:hover {
    box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
  }
  .link-3 img:hover {
    box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
  }
  .link-4 img:hover {
    box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
  }
}

@media (min-width: 64rem) {
  .homepage img {
    border-radius: 50%;
    height: 20rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
  }
  .linked-pages img {
    border-radius: 50%;
    height: 14rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5rem;
    margin-bottom: 3rem;
  }

  h1 {
    letter-spacing: 1.2rem;
    font-size: 3.5rem;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: 100;
  }

  h2 {
    color: rgb(223, 136, 243);
    font-family: "Codystar", cursive;
    display: block;
    margin-top: -2.7rem;
    text-align: center;
    letter-spacing: 1.2rem;
    font-size: 3rem;
  }
  img {
    height: 20rem;
    width: auto;
  }

  .homepage {
    background: rgb(241, 241, 241);
    margin-top: 3.8rem;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 0;
    padding: 1rem;
    border-radius: 2rem;
  }
  .linked-pages {
    background: rgb(241, 241, 241);
    margin: 3.8rem;
    padding: 1rem;
    border-radius: 2rem;
    display: grid;
    column-gap: 0.5rem;
  }
  .link-1 {
    grid-column-start: 1;
    grid-column-end: 2;
    font-size: 1.7rem;
  }
  .link-2 {
    grid-column-start: 3;
    grid-column-end: 4;
    font-size: 1.7rem;
  }
  .link-3 {
    grid-column-start: 5;
    grid-column-end: 6;
    font-size: 1.7rem;
  }
  .link-4 {
    grid-column-start: 7;
    grid-column-end: 8;
    font-size: 1.7rem;
  }
  .link-1 img:hover {
    box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
  }

  .link-2 img:hover {
    box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
  }
  .link-3 img:hover {
    box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
  }
  .link-4 img:hover {
    box-shadow: 0 0 0.5rem 0.4rem rgb(235, 202, 243);
  }
}
